{% include "header.html" %}
<div class="about-container">
    <p><h1 style="font-size: 2vw">Ways to reduce your food wastage</h1><br>
      <br>
      <b>1.Put your bread in the freezer first. </b><br>
        20 million loaves of bread are thrown away by Kiwis annually, primarily because they have become stale or mouldy. Keep your bread in the freezer rather than the pantry to avoid this problem and ensure that it stays fresh and mold-free.
        <br>
        <br>
        <b>2. Consume any leftovers.</b> <br>
        Don't toss the leftovers if you made too much. Even a small quantity is worth storing in the refrigerator for later. Check out our delectable recipes to make a supper out of leftovers in tiny quantities.
        <br>
        <br>
        <b> 3. Don't put bananas in the fruit dish.</b> <br>
        Because fruits like apples and pears release ethylene gas into the air, bananas stored in a fruit bowl mature more quickly. When bananas are ripe, they release ethylene gas, which causes other fruit to ripen as well. Bananas should not be kept in the refrigerator or near other fruits. Put them in the freezer if they have become overly brown before using them in one of these recipes.

        <br>
        <br>
        <b> 4. Keep potatoes and onions separate in the refrigerator. </b><br>
        Although it may be convenient to store potatoes and onions together because they both prefer cool, dark environments, doing so will hasten the sprouting process. Keep your onions somewhere else and your potatoes in the pantry.
        <br>
        <br>
        <b>5. Make a list and plan your meals. </b><br>
        You can only buy the food you actually need if you know exactly what your family will be eating for the upcoming meals. Before creating your meal plan and shopping list, make sure to examine your cabinets, refrigerator, and freezer to make the most of what you already have.
        <br>
        <br>

</p>
</div>
<div class="social-menu">
    <ul>
      <li>
        <a href="https://github.com/InquisitiveMe15/" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </li>
      <!-- <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li> -->
    </ul>
  </div>
  
  {% include "footer.html" %}